<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrukcje</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Przygotowanie do testu</h1>
        <p>
            Zostanie zadana ci seria pytań. Gdy kolor ekranu zmieni się na zielony, udziel na nie słownie odpowiedzi.
        </p>
        <p>Czy jesteś gotowy?</p>
        <button onclick="window.location.href='/test/start';">Rozpocznij test</button>
    </div>
</body>
</html>
